<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Mi Lote | Tablas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://cdn.glitch.com/4855031b-abce-4c44-bba6-e505bb13b746%2Ffavicon.ico?v=1614220224560"
    />
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/tabla.css" />
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2/build/pdf.min.js"></script>
    <script src="/js/tab.js"></script>
  </head>
  <body>
    <header>
      <div class="logo-div">
        <a href="/"
          ><h1 id="logo-h1">
            <img
              id="img_logo"
              src="https://cdn.glitch.com/4855031b-abce-4c44-bba6-e505bb13b746%2Floco.png?v=1615064707320"
              alt="Mi Lote logo"
            />mi lote
            <div id="alpha">beta</div>
          </h1></a
        >
      </div>
      <input id="nav_toggle" type="checkbox" class="nav_toggle" />
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/nosotros">Nosotros</a></li>
          <li>
            <a href="">Servicios</a>
            <ul>
              <li><a href="/map">Conoce tu lote</a></li>
              <li><a href="/calculadora/100">Calculadora de precios</a></li>
              <li><a href="/doc">Documentación</a></li>
              <li><a href="/tab">Tabla</a></li>
            </ul>
          </li>
          <li><a href="">Contáctanos</a></li>
        </ul>
      </nav>
      <label for="nav_toggle" class="nav_toggle_label">
        <span></span>
      </label>
    </header>
    <div id="main">
      <div id="content">
        <div class="sele">
          <form action="/area" method="post">
            <label for="area_input">Area m<sup>2</sup>:</label>
            <input type="number" id="area_input" name="area" value="{{ area }}" min="10" max="20000">
            <input type="submit" value="Buscar">
          </form>
          <div>
            <div>
              <span class="sp">Cantidad:</span>
              <span id="cant">{{ cant1 }}</span>
            </div>
            <div>
              <span class="sp">Porcentaje:</span>
              <span id="prcntj">{{ prcntj1 }}</span>
            </div>
          </div>
        </div>
        <div class="sele">
          <form action="/dim" method="post" id="dimform">
            <label for="dim_input">Dimensiones:</label>
            <select id="dim_input" name="dim" form="dimform">
              <option value="{{dim}}" hidden selected="selected">{{dim}}</option>
              <option value="12 x 24">12 x 24</option>
              <option value="10 x 20">10 x 20</option>
              <option value="8 x 16">8 x 16</option>
            </select>
            <input type="submit" value="Buscar">
          </form>
          <div>
            <div>
              <span class="sp">Cantidad:</span>
              <span id="cant">{{ cant2 }}</span>
            </div>
            <div>
              <span class="sp">Porcentaje:</span>
              <span id="prcntj">{{ prcntj2 }}</span>
            </div>
      </div>
        </div>
        <div>
          <div id="top_bar">
            <button class="btn" id="prev_btn">
              &lt;-
            </button>
            <button class="btn" id="next_btn">
              -&gt;
            </button>
            <button class="btn" id="next_btn">
              Descargar
            </button>
            <button class="btn" id="next_btn">
              X
            </button>
          </div>
          <canvas id="the-canvas"></canvas>
        </div>
      </div>
    </div>
    <footer>Made with <a href="https://glitch.com">Glitch</a>!</footer>
  </body>
</html>